:root{
  --cor1: #fff;
  --cor2: #f1f3f7;
  --cor3: #f6f6f6;
  --cor4: #a89f9f;
  --cor5: #233032;
  --cor6: #2f86d6;
  --cor7: #000000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.topo{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--cor1);
}

.container-topo{
  position: relative;
  padding: 35px 0;
}

.container-topo img{
  position: relative;
  width: 80px;
}

.container-topo div{
  position: absolute;
  top: 35px;
  left: 95px;
}

.container-topo h1{
  color: var(--cor7);
  font-size: 32px;
}

.container-topo p{
  color: var(--cor6);
  font-weight: 600;
  font-size: 16px;
}

.menu{
  position: absolute;
  top: 65px;
  right: 95px;
}

.menu a{
  font-size: 18px;
  padding: 0px 10px;
  text-decoration: none;
  font-weight: 600;
  color: var(--cor5);
}

.banner{
  width: 100%;
  min-width: 1024px;
  background-color: var(--cor6);
  padding: 180px 0px;
  position: relative;
}

.banner-texto{
  max-width: 470px;
  position: relative;
  left: 175px;
}

.banner img{
  width: 40%;
  position: absolute;
  top: 40px;
  right: 95px;
}

.banner-texto p{
  font-size: 16px;
  color: var(--cor1);
}

.banner-texto h2{
  font-size: 28px;
  color: var(--cor1);
}

.primeiro-anuncio{
  width: 100%;
  min-width: 1024px;
  padding: 40px 0;
  background-color: var(--cor5);
  position: relative;
}

.primeiro-anuncio-texto{
  max-width: 600px;
  position: relative;
  left: 175px;
}

.primeiro-anuncio-texto h3{
  font-size: 24px;
  color: var(--cor1);
}

.primeiro-anuncio-texto p{
  font-size: 16px;
  color: var(--cor1);
}

.botao{
  position: absolute;
  top: 45px;
  right: 175px;
  background-color: var(--cor6);
  padding: 10px;
}

.botao a{
  font-size: 18px;
  color: var(--cor1);
  font-weight: 600;
  text-decoration: none;
}

.informacoes{
  padding: 80px 0px;
  text-align: center;
}

.informacoes h2 {
  width: 900px;
  font-size: 32px;
  margin: 0px auto 60px;
}

.informacoes span{
  color: var(--cor6);
}

.container-informacoes{
  position: relative;
  height: 240px;
}

.container-informacoes div{
  width: 33%;
  position: absolute;
  top: 0;
}

.card2{
  left: 455px;
}

.card3{
  right: 0;
}

.container-informacoes div img{
  width: 50%
}

.container-informacoes h3 {
  
}