:root{
  --cor1: #fff;
  --cor2: #f1f3f7;
  --cor3: #f6f6f6;
  --cor4: #a89f9f;
  --cor5: #233032;
  --cor6: #2f86d6;
  --cor7: #000000;
  --cor8: rgba(47, 134, 214, 1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.topo{
  width: 100%;
  
}